{% extends 'base.html' %}
{% block title %}{{post_slug}} | {% endblock %}
{% block content %}
<article>
	<section class="middle_index">
		<div class="content_section">
			<div class="content_main_title kor_title">
				<span>{{directory_slug|upper}}</span>
			</div>
			<div class="post_detail_main_content">
				<div>
					<div class="post_detail_title">{{ post_detail.title }}</div>
					<div class="post_detail_description">{{ post_detail.description|safe }}</div>
				</div>
			</div>
		</div>
		<div class="side_bar hide-under">
		{% include 'includes/sidebar.html' %}
		</div>
	</section>
</article>
{% endblock %}
{% block javascript %}
<script>
	document.getElementById('nav_'+'{{choice}}').style.color = '#FFCC0D';
</script>
{% endblock %}